{% extends 'mainapp/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}

<form
  method="post"
  class="col-6 m-auto pt-5 pb-9"
  enctype="multipart/form-data">

  {% csrf_token %}
  
  
  
  <img src="{% if user.avatar %} {{ user.avatar.url }} {% else %} {%static 'img/no_img.png'%} {% endif %}" class="d-block w-100" alt="">
  
  {{ form|crispy }}

  <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</form>

{% endblock content %} 

{% block js_script %}

<script>
  $(document).ready(function () {
  {% if messages %}
  // Toasts
  $(".toast").toast({ delay: 5000 });
  $(".toast").toast("show");
  {% endif %}
  });
</script>

{% endblock js_script %}
