{% extends 'authapp/base.html' %}

{% load static i18n %}

{% block content %}

    <form method="post">
      {% csrf_token %}
      <p>
        <input id="id_username" class="form-control" type="text" name="username" placeholder="{% translate "User name" %}"
          required="" autofocus="">
      </p>
      <p>
        <input id="id_password" class="form-control" type="password" name="password" placeholder="{% translate "password" %}" required="">
      </p>
      <p>
        <button type="submit" class="btn btn-primary btn-block">
          {% translate "Login" %}
        </button>
      </p>
    </form>
    <p>
      <div class="row justify-content-between">
        <div class="col">
          <a href="{% url 'authapp:register' %}">
            <small> {% translate "Registration" %} </small>
          </a>
        </div>
        <div class="col">
          <a href="#">
            <small> {% translate "Forgot your password?" %} </small>
          </a>
        </div>
      </div>
    </p>

{% endblock content %}

{% block js_script %}

<script>
  $(document).ready(function () {
  {% if messages %}
  // Toasts
  $(".toast").toast({ delay: 5000 });
  $(".toast").toast("show");
  {% endif %}
  });
</script>

{% endblock js_script %}